In [1]:
import numpy as np

In [31]:
mu ,sigma = 20, 1
person_num = round(np.random.normal(mu,sigma))
person_num

21

In [1]:
from __future__ import division
from __future__ import print_function

# Allowed libraries 
import numpy as np
import pandas as pd
import scipy as sp
import scipy.special
import heapq as pq
import matplotlib as mp
import matplotlib.pyplot as plt
import math
from itertools import product, combinations
from collections import OrderedDict as odict
import collections
from graphviz import Digraph, Graph
from tabulate import tabulate
import copy
import sys
import os
import datetime
import sklearn
import ast
import re

In [2]:
data = pd.read_csv("data.csv")

In [17]:
index1 = data[data.time == "08:05:00"].index.tolist()[0] #  go to work time ends
index2 = data[data.time=="17:30:00"].index.tolist()[0] # leave work starts

In [18]:
data1 = data.iloc[0:index1] # 08:00 - 08:05
data2 = data.iloc[index1:index2] #08:05 - 17:30
data3 = data.iloc[index2:] # After 17:30

In [9]:
d1.shape

(2401,)

In [22]:
list(data.columns).index('r1')

17

In [26]:
list(data.columns).index('outside')

57

In [27]:
temp = data.iloc[:,17:58]

In [28]:
temp

,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,...,r32,r33,r34,r35,c1,c2,c3,c4,o1,outside
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,15
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,11,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
2397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
2398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
2399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
2400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23

In [30]:
diff=temp.iloc[1]-temp.iloc[0]

In [38]:
diff = diff.to_dict() 
diff = {key: value for key,value in diff.items() if value>0}
diff

{'r22': 2, 'c1': 1}